main { 
  font-size: 0;
}

.box-parent{
	width: 800px;
	margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
	
}

.box {
  border: 1px solid black;
  display: inline-block;
}

.innerFirst {

  width: 50%;
  height: 200px;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.innerSecond{

  width: 33.33%;
  height: 300px;
}

.grey {
  background-color: gray;
}

.black {
  background-color: black;
}
.orange {
  background-color: orange;
}